
<header>
    <h2>Jazmarie Moncrieft's Jolly Mountain Cat ~ CP-CO-01 </h2>
    <nav>
        <a href = "index.html">Home</a> |
        <a href = "introduction.html">Introduction</a> |
        <a href = "contract.html">Contract</a> |
        <a href = "about_us.html">Team</a> | 
        <a href = "fizzbuzz.html">Fizzbuzz</a> | 
        <a href = "preassessment.html">Preassessment</a> | 
        <a href = "html_activity1colors.html">Primary Colors</a> | 
        <a href = "html_activity2brownies.html">Brownies</a> | 
        <a href = "javascript.html">Javascript</a>
        
    </nav>
  </header>
